.textinput{
    width: max-content;
}
.row{
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid;
  border-radius: 5px;
}
body{
    background-image: url("images/water.jpg");
}

.button{
    background-color: aqua;}
.calendar{
    margin: 20px;
}
.bg-black{
    background-color: grey;
}
.bg-green{
    background-color: green;
}
.bg-red{
    background-color: red;
}